#topLayer{
    -fx-background-color: #718096;
}
#Title{
    -fx-text-fill: white;
    -fx-font-size: 25px;
    -fx-font-family: "Lexend Giga";
}
#subtitle{
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-family: "Lexend Giga";
}